:root{
     --pColor:#e8f1f2;
}
*{    
    font-family: 'Roboto';
    color:var(--pColor);
    text-decoration: none;
}

html,body{
    margin: 0;
    padding: 0;
}
body{
    width:100vw;
    height: 100vh !important;
    overflow-x: hidden;
    background-color: #000000;
 }
 video{
    position: fixed;
    top:0px;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
 }
header{
    padding: 16px;
    margin: 16px;
    font-size: xx-large;
}
.box{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(480px, 1fr));
    align-items: center;
    gap:40px;
    padding: 8px;
    width:96vw; 
    height:100vh;
}

img{
    width:48vw;
    height:56vh;
    border-radius: 8px;
}
a{  
    color:#b8f0ff;
    white-space: nowrap;
    margin: 8px;
}
a:hover{
    text-shadow: -17px -8px 47px rgba(110, 185, 247, 0.87);

}
.texts{
    height:fit-content; 
    padding:8px;
    text-align: center;
    background-color: rgba(74, 200, 250, 0.185);
    border: 1px solid var(--pColor);
    border-radius: 8px;
}
.title1{
    margin-top: 0px;
    font-weight: 400;
    font-size:larger;
}
.title2{
    color:#c2e018;
    margin-top: 0px;
    font-weight: 800;
    font-size:x-large;
}
.desc{
    height: fit-content;
}
.footer{
    width:96vw;
    text-align: center;
    background-color: rgb(41, 41, 41);
    padding: 8px;
    border-radius: 8px;
}
.devInfo{
display:flex;
justify-content:center;
align-items:center;
}
.mailLogo{
width:24px;
height:24px;
}
/*These are set only for mobiles */
@media screen and (max-width:480px){
    header{
        margin-bottom: 0px;
        font-weight:640;
        font-size: 16px;  
    }
    img{
        padding:8px;
        margin:8px;
        width:88vw;
        height:32vh; 
    }
    .texts{
        margin: 8px;
        padding:8px;
        width:88vw;
        height: fit-content;
        border: 1px solid var(--pColor);  
    }
}
/*End of Media Query*/