:root{
     --pColor:#e8f1f2;
     --link:#b8f0ff;
     --bgBlue:rgba(74, 200, 250, 0.185);
     --bgBlack: rgba(41, 41, 41,0.2);
     --yellow:#e0e018;
     --fontHead:40px;
}
.rflex{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.cflex{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.mp8{
    padding: 8px;
    margin: 8px;
}   
.mp0{
    padding: 0px;
    margin: 0px;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto condensed';
    color:var(--pColor);
}
body{
    height: 100vh !important;
    overflow-x: hidden;
}
header{
    font-family: 'Nova cut';
    font-size: var(--fontHead);
}
 video{
    position: fixed;
    top:0px;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
 }
img{
    width:40vw;
    height:fit-content;
    border-radius: 8px;
}
.box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
}
a{  
    color:var(--link);
    text-decoration: none;
}
a:hover{
   color:#fff;
}
.title2{
 color: var(--yellow);  
}
.texts{
    height:fit-content; 
    text-align: center;
    background-color:var(--bgBlue) ;
    border: 1px solid var(--pColor);
    border-radius: 8px;
}
.mailLogo{
    width:24px;
    height:24px;
}    
.footer{
    width:fit-content;
    text-align: center;
    background-color:var(--bgBlack);
    border-top:1px solid rgb(128, 128, 128);
}
@media (max-width:560px){
    img{
        width:88vw;
    }
}